<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <link href="../culturalCenter.css" rel="stylesheet">
</head>
<body>
<!-- Include menu.html -->
<div class="pt-5"></div>
<div align="center">
    <header>
        <div th:include="menu"></div>
    </header>

    <h2>Admin Page</h2>
    <h3>Welcome :
        <span th:utext="${#request.userPrincipal.name}"></span>
    </h3>
    <b>This is protected page!</b>

    <br/><br/>

    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
</div>

</body>

</html>