<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logout</title>
    <link href="../../static/culturalCenter.css" rel="stylesheet">
    <meta http-equiv = "refresh" content = "5; url = /" />
    <title>Logout</title>
</head>

<body>
<header>
    <div th:include="menu"></div>
</header>
<div class="pt-5"></div>
<div align="center">
    <!-- Include menu.html -->
    <div th:include="menu"></div>
    <h1>Logout Successful!</h1>
    <h4> You will be redirected to the main page in 5 seconds </h4>
</div>
</body>

</html>