<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link href="../culturalCenter.css" rel="stylesheet">
</head>

<body>
<div class="pt-5"></div>
<div align="center">
    <!-- Include menu.html -->
    <header>
        <div th:include="menu"></div>
    </header>

    <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>

    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
</div>

</body>

</html>