<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<div align="center">
    <div th:include="menu"></div>
    <!-- Page header-->
    <h1>Enter participant information</h1>
    <!-- Empty lines-->
    <br/><br/>
    <form action="#" th:action = "@{/saveNewParticipant}" th:object="${pr}" method = "post">
        <table border="1" cellspacing="10">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{surname}"></td>
            </tr>
            <tr>
                <td>Birthdate:</td>
                <td><input type="date" th:field="*{birthDate}"></td>
            </tr>
            <tr>
                <td>PESEL:</td>
                <td><input type="text" th:field="*{pesel}"></td>
            </tr>
            <tr>
                <td>Sex:</td>
                <td><input type="text" th:field="*{gender}"></td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td><input type="text" th:field="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" th:field="*{city}"></td>
            </tr>
            <tr>
                <td>Street:</td>
                <td><input type="text" th:field="*{street}"></td>
            </tr>
            <tr>
                <td>House Number:</td>
                <td><input type="text" th:field="*{houseNumber}"></td>
            </tr>
            <tr>
                <td>Post Office Code:</td>
                <td><input type="text" th:field="*{postCode}"></td>
            </tr>
            <tr>
                <td>Post Office City:</td>
                <td><input type="text" th:field="*{postCity}"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>