<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post Office</title>
</head>
<body>

    <div align="center">
        <!-- Page header-->
        <h1>Enter New Post Office</h1>
        <!-- Empty lines-->
        <br/><br/>
        <form action="#" th:action = "@{/savePostOffice}" th:object="${postOffice}" method = "post">
            <table border="1" cellspacing="10">
                <tr>
                    <td>Post office ID:</td>
                    <td><input type="text" th:field="*{postOfficeId}"></td>
                </tr>
                <tr>
                    <td>Code:</td>
                    <td><input type="text" th:field="*{code}"></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" th:field="*{city}"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>