<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personal information</title>
</head>
<body>
<!-- Include menu.html -->
<div align="center">
    <div th:include="menu"></div>

    <h2>Do you want to add personal information (Required for registration to courses)</h2>

    <a th:href="@{/}">No</a>

    | &nbsp; &nbsp;

    <a th:href="@{/participantForm}">Yes, I'm a course participant</a>

    | &nbsp; &nbsp;

    <a th:href="@{/admin}">Yes, I'm a participant's guardian </a>
</div>
</body>

</html>