<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<!-- Include menu.html -->
<div align="center">
    <div th:include="menu"></div>


    <h2>User Info Page</h2>
    <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
    <b>This is protected page!</b>

    <br/><br/>

    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

    <br/><br/>

    <a th:href="@{/userInfo}">Add personal data</a>
</div>
</body>

</html>